body{
    margin: 0;
    text-align: center;
    font-family: Monaco, Helvetica, Arial, Courier;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
}

#wrapper{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: left;
}

footer{
    text-align: center;
}

a{
    text-decoration: none;
    color: #333;
}

a:hover{
    text-decoration: underline;
}

h3{
    font-size: 24px;
}